<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Azure.Properties.Settings.Valor" connectionString="Data Source=SPARTAN117\SQLSERVER;Initial Catalog=azure;Persist Security Info=True;User ID=root2;Password=root2"
            providerName="System.Data.SqlClient" />
        <add name="Azure.Properties.Settings.azureConnectionString" connectionString="Data Source=SPARTAN117\SQLSERVER;Initial Catalog=azure;Persist Security Info=True;User ID=&quot;root2:Password=root2&quot;;Password=root2"
            providerName="System.Data.SqlClient" />
        <add name="Azure.Properties.Settings.azureConnectionString1"
            connectionString="Data Source=SPARTAN117\SQLSERVER;Initial Catalog=azure;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>